.carousel{
    max-width: 70vw;
    width:70vw;
    height: 60vh;
    position: relative;
    overflow: hidden;
    justify-content:center;
    display: block;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;


}
.img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}