.nav {
    height: 72px;
    /* padding: 10px; */
    background: #E2E8F0;
    color: #fff;
     display: flex; 
    /* align-items: center; */
    justify-content: space-between;
    /* position:relative; */
    /* margin: auto !important; */
    max-width: 100vw;
    width: 100%;
    min-width: 400px;
    
    
    
  }
  .popover{
    display: block;
    flex-wrap: nowrap;
    margin: 0px 0px 0px ;
    padding: 10px 32px 10px 32px;
  }
  
  .nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
  }
  
  .nav ul li a {
    margin: 5px 15px;
    max-height: 50px;
    color:black
  }
  .logo{
    width:auto !important;
    max-width: 100vw;
    height:48px !important;
    position: relative;
    display:block;
    /* padding:3px 24px; */
    max-height: 72px;
  }

  .pfp{
    justify-content: flex-start;
    position: relative;
    height: 48px !important;
    width: 48px !important;
    display: block;
    float: left;
    color: #007BA7 ;
    margin: 0px;

  }

  @media only screen and (max-width:300px){
    .logo{
      height: 24px !important;
    }
  }

  