.heading{
    font-size: 22px;
    display:flex;
    justify-content: center;
    color: black ;
    margin: 16px 0px 0px 10vw; 
    margin-left: 10vw;
    padding-left: 20px;
    font-weight: 600;
    width: fit-content;
    max-width: 100vw;


}
.container{
    display: flex;
    flex-direction: row;
    max-height: 40vh;
    width: 100%;
    max-width: 80vw;
    padding-top:16px;
    /* margin: 0px 120px 0px 120px; */
    margin: auto;
    justify-content: center;
    /* background-color: brown; */

}
.img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}


.album{
    display: flex;
    width: 100vw;
    max-width: 100vw;
    height: auto;
    /* min-height: 100%; */
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0px;
    position: relative;
    z-index: 1;
    padding: 0px;
    object-fit: cover;
}
.album2{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    width: 100vw;
    height: auto;
    position: relative;
    margin: 0px;
    align-items: center;
    justify-content: center;
    padding: 0px;
}
.card{
    width: 100%;
    display: flex;
    position: relative;
    height: auto;
    z-index: 2;
    background-color: white;
    border-color: white;
    border-radius: 0px;
    max-width: 19vw;
    margin-left: 10px;
    margin: 5px;
    object-fit: cover;

       
}

.img:hover{
    transform: scale(1.3);
    z-index: 1;
    transition-duration: 1s;
    
}

.description{
    max-width: 100vw;
    width: fit-content;
    /* padding-left: 20px; */
    margin: auto !important;
    /* margin-left: 10vw; */
    justify-content: left;
    
    /* changes above */
    position: absolute;
    bottom:10px;
    left: 20px;
    z-index: 2;
    color: white;
    text-shadow: 0 0 10px rgba(0,0,0,.9);

}

@media only screen and (max-width:1000px){
    .container{
        max-height: 50%;
        display: block;
        max-width: 100%;
        margin: 0px;
        min-width: 500px;
    }
    .album{
        width: 100%;
    }
    .album2{
        width: 100%;
    }
    .card{
        margin-top: 10px;
    }
}

@media only screen and (max-width:500px){
    
    .heading{
        margin: auto !important;
        
    }
    .album{
        margin: auto;

    }
    .description{
        font-size:medium ;
    }
    .card{
        display: block;
        max-width: 100vw;
        margin: auto;
        padding: auto;
    }
    
}





