.container{
    max-width: 30vw;
    box-sizing: border-box;
    padding: 0px 25px 25px 25px;
    display: block;
    justify-content: space-between;
    /* border: 1px solid grey; */
    border-bottom: white;
    max-height: 1000vh;
    position: sticky;
    position: -webkit-sticky-
}
.price{
    margin: 0px 10px 10px 10px;
    padding: 0px 5px 5px 5px;
    height: auto;
    font-size: 32px;
}

.cal{
    max-width: 50%;
}
.calContainer{
    margin: 10px;
    box-sizing: border-box;
    padding: 5px;
}
.guest{
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.searchButton{
    background-color: #023b50 !important;
    border-radius: 100px !important;
    color:#ffff !important;
    border-color: blue;
    font-size: 14px !important;
    white-space: normal;
    width: 50% !important;
    box-shadow: none;
    margin: auto !important;
    min-height: 48px !important; 
    padding: 16px 0px 16px 0px !important;
    display: flex !important;
        
}
.searchButton:hover{background-color: #016d94 !important; 
    transition: 0.7s;}
.searchContainer{
    box-sizing: border-box;
    margin: 10px;
    /* width: 100%; */
    display: block;
    padding: 5px;
}
.contact{
    box-sizing: border-box;
    display: flex;
    margin: auto;
    /* width:50%; */
    font-size: 14px;
    white-space: normal;
    justify-content: center;
}
.property{
    padding: 16px 0px 16px 0px;
    box-sizing: border-box;
    display: flex;
    margin: auto;
    /* width:50%; */
    font-size: 14px;
    white-space: normal;
    justify-content: center;
}
.note{
    display: flex;
    font-size: 8px;
    padding: 16px 0px 16px 0px;

}

.album{
    height:500px;
    width: 70vw;
    padding: 25px;
    height:60vh;
    background-color: #016d94;
}